# Data Analysis

## Load Data

In [19]:
import pandas as pd

### Load Life Expectancy

This data was pretty easy to export. The following linken provides downloadable csv files:  http://apps.who.int/gho/data/node.main.688?lang=en

In [20]:
df_life_exp = pd.read_csv('./data/life_exp.csv')
display(df_life_exp.head(5))

,Unnamed: 0,Unnamed: 1,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
0,WHO region,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Africa,2016,61.2,59.6,62.7,16.6,15.9,17.3,53.8,52.6,54.9,12.5,12.0,13.1
2,Africa,2015,60.7,59.1,62.2,16.6,15.8,17.3,53.3,52.1,54.4,12.4,11.8,13.0
3,Africa,2010,57.6,56.4,58.8,16.1,15.4,16.7,50.4,49.6,51.3,12.0,11.5,12.4
4,Africa,2005,53.4,52.3,54.4,15.4,14.7,16.1,46.7,46.0,47.4,11.4,10.9,11.8

### Load Current health expenditure 

This data was pretty easy to export. The following linken provides downloadable csv files: http://apps.who.int/gho/data/node.main.GHEDCHEpcUSSHA2011?lang=en

In [21]:
df_health_expenditure = pd.read_csv('./data/GHED_CHE_pc_US_SHA2011.csv')
display(df_health_expenditure.head(5))

,Unnamed: 0,Current health expenditure (CHE) per capita in US$,Current health expenditure (CHE) per capita in US$.1,Current health expenditure (CHE) per capita in US$.2,Current health expenditure (CHE) per capita in US$.3,Current health expenditure (CHE) per capita in US$.4,Current health expenditure (CHE) per capita in US$.5,Current health expenditure (CHE) per capita in US$.6,Current health expenditure (CHE) per capita in US$.7,Current health expenditure (CHE) per capita in US$.8,Current health expenditure (CHE) per capita in US$.9,Current health expenditure (CHE) per capita in US$.10,Current health expenditure (CHE) per capita in US$.11,Current health expenditure (CHE) per capita in US$.12,Current health expenditure (CHE) per capita in US$.13,Current health expenditure (CHE) per capita in US$.14,Current health expenditure (CHE) per capita in US$.15
0,Country,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
1,Afghanistan,60.1,60.1,56.0,52.2,51.6,45.6,42.3,38.7,31.8,28.4,24.4,20.9,17.5,16.2,No data,No data
2,Albania,265.9,314.9,277.7,247.3,248.2,204.2,207.4,240.4,216.4,172.8,165.9,152.0,113.6,89.9,81.9,75.5
3,Algeria,291.6,357.9,330.2,333.9,286.2,228.4,207.3,206.1,150.4,116.2,100.3,92.1,75.4,66.2,66.5,61.3
4,Andorra,4315.7,5088.2,5751.4,4641.6,4860.5,4595.7,4721.9,4985.6,4764.9,4249.2,4036.8,3539.7,3008.3,2332.2,2081.3,2050.6

### Load World by Income 

The world bank provides sofisticated online tools to collect the data you are interested in. 
Still I didn't found a way to export the data by Income-Level per country in a nice formart

http://datatopics.worldbank.org/world-development-indicators/the-world-by-income-and-region.html

### Load GDP per capita

This data was pretty easy to export. The following linken provides downloadable csv files: https://databank.worldbank.org/data/reports.aspx?source=2&series=NY.GDP.PCAP.CD&country=#advancedDownloadOptions

In [22]:
df_gpd_per_capita = pd.read_csv('./data/gdp_per_capita.csv')
display(df_gpd_per_capita.head(5))

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,373.361116,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746,585.850064
1,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3952.830781,4131.872341,4537.862492
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,244.824806,213.485905,171.209809,225.530596,236.610190,248.378144,...,4905.254866,3868.831230,4463.394675,5432.413320,5565.134521,5471.123389,5466.425778,4160.220067,3916.881571,4123.389937
3,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,9871.997194,12058.263823,10352.822762,10375.994215,11660.329531,11589.853002,11598.751736,11865.963232,11834.745229,NaN
4,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,47785.659086,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671,39146.548836

### Load Research and development expenditure

This data was pretty easy to export. The following linken provides downloadable csv files: https://databank.worldbank.org/data/reports.aspx?source=2&series=GB.XPD.RSDV.GD.ZS&country=

In [23]:
df_research_dev_exp = pd.read_csv('./data/research_development_expenditure.csv')
display(df_research_dev_exp.head(5))

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,0.15421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN