# Groupe 02 
## Human Life Expectancy
Lazar Attila Fülöp (0026842), Fürst Patrick(0927543), 
Gasperi Michael (09660663), Nau Anna-Maria(11834536)

# Data Collection and Insights ( Fürst Patrick)

## Load Data

In [154]:
import pandas as pd 
import numpy as np

### Load Life Expectancy

This data was pretty easy to export. The following links provides downloadable csv files: http://apps.who.int/gho/data/node.main.688?lang=en

In [155]:
df_life_exp = pd.read_csv('./data/life_exp.csv', header=[0,1], index_col =[0,1] )
display(df_life_exp.head(5))

                 Life expectancy at birth (years)                \
Country                                Both sexes  Male  Female
Afghanistan 2016                             62.7  61.0    64.5
            2015                             63.2  61.8    64.7
            2014                             63.0  61.7    64.4
            2013                             62.7  61.5    64.1
            2012                             62.2  60.9    63.6

                 Life expectancy at age 60 (years)                \
Country                                 Both sexes  Male  Female
Afghanistan 2016                              16.3  15.5    17.1
            2015                              16.3  15.5    17.1
            2014                              16.2  15.4    17.0
            2013                              16.2  15.4    16.9
            2012                              16.1  15.3    16.8

                 Healthy life expectancy (HALE) at birth (years)        \
Country                                               Both sexes  Male
Afghanistan 2016                                            53.0  52.1
            2015                                            53.2  52.6
            2014                                             NaN   NaN
            2013                                             NaN   NaN
            2012                                             NaN   NaN

                         Healthy life expectancy (HALE) at age 60 (years)  \
Country           Female                                       Both sexes
Afghanistan 2016    54.1                                             11.3
            2015    54.1                                             11.2
            2014     NaN                                              NaN
            2013     NaN                                              NaN
            2012     NaN                                              NaN


Country           Male  Female
Afghanistan 2016  10.9    11.7
            2015  10.8    11.6
            2014   NaN     NaN
            2013   NaN     NaN
            2012   NaN     NaN

### Load Current health expenditure 

This data was pretty easy to export. The following linken provides downloadable csv files: http://apps.who.int/gho/data/node.main.GHEDCHEpcUSSHA2011?lang=en

In [156]:
df_health_expenditure = pd.read_csv('./data/GHED_CHE_pc_US_SHA2011.csv', header=[0,1], index_col =[0])
display(df_health_expenditure.head(5))

            Current health expenditure (CHE) per capita in US$          \
Country                                                   2015    2014
Afghanistan                                               60.1    60.1
Albania                                                  265.9   314.9
Algeria                                                  291.6   357.9
Andorra                                                 4315.7  5088.2
Angola                                                   108.6   131.8

                                                                             \
Country        2013    2012    2011    2010    2009    2008    2007    2006
Afghanistan    56.0    52.2    51.6    45.6    42.3    38.7    31.8    28.4
Albania       277.7   247.3   248.2   204.2   207.4   240.4   216.4   172.8
Algeria       330.2   333.9   286.2   228.4   207.3   206.1   150.4   116.2
Andorra      5751.4  4641.6  4860.5  4595.7  4721.9  4985.6  4764.9  4249.2
Angola        143.8   122.5   122.2    96.7   120.0   135.4    92.6    74.3


Country        2005    2004    2003    2002     2001     2000
Afghanistan    24.4    20.9    17.5    16.2  No data  No data
Albania       165.9   152.0   113.6    89.9     81.9     75.5
Algeria       100.3    92.1    75.4    66.2     66.5     61.3
Andorra      4036.8  3539.7  3008.3  2332.2   2081.3   2050.6
Angola         57.4    52.1    36.7    30.2     27.3     13.9

### Load World by Income 

The world bank provides sofisticated online tools to collect the data you are interested in. 
Still I didn't found a way to export the data by Income-Level per country in a nice formart
http://datatopics.worldbank.org/world-development-indicators/the-world-by-income-and-region.html
If we wanna download the data from this link it throws an error. 

The Income-Level is defineded based on the GNI (Gross National Income) and the income group threshold is determined as descibred here. https://datahelpdesk.worldbank.org/knowledgebase/articles/378833-how-are-the-income-group-thresholds-determined
We are downloading all the country GNI data [here](https://data.worldbank.org/indicator/NY.GNP.PCAP.CD?end=2017&locations=XM-AF-ET&start=2017&view=map). 
__The levels (high, low e.g) provided in the country data are not the threshold levels as defined here!__ https://datahelpdesk.worldbank.org/knowledgebase/articles/906519 


__Since we didn't find the threshold values in the database, we extract the data from the Excel files found here:__
https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups
__See also `data/raw` folder.__

The levels are defined by the following: 
* Low income (L)
* Lower middle income (LM)
* Upper middle income (UM)
* High income (H)

In [157]:
df_world_income = pd.read_csv('./data/OGHIST.csv', sep=';', index_col=[1])
display(df_world_income.head(5))

,Unnamed: 0,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Data for calendar year :,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,L,L,L,L,L,L,L,L,L,...,L,L,L,L,L,L,L,L,L,L
Albania,ALB,..,..,..,LM,LM,LM,L,L,L,...,LM,UM,UM,LM,UM,UM,UM,UM,UM,UM
Algeria,DZA,UM,UM,LM,LM,LM,LM,LM,LM,LM,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
American Samoa,ASM,H,H,H,UM,UM,UM,UM,UM,UM,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
Andorra,AND,..,..,..,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H

### Load GDP per capita

This data was pretty easy to export. The following linken provides downloadable csv files: https://databank.worldbank.org/data/reports.aspx?source=2&series=NY.GDP.PCAP.CD&country=#advancedDownloadOptions

__Be sure to only export Countries and not aggregates like Europe e.g__

In [158]:
df_gpd_per_capita = pd.read_csv('./data/gdp_per_capita.csv')
display(df_gpd_per_capita.head(5))

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,373.361116,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746,585.850064
1,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3952.830781,4131.872341,4537.862492
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,244.824806,213.485905,171.209809,225.530596,236.610190,248.378144,...,4905.254866,3868.831230,4463.394675,5432.413320,5565.134521,5471.123389,5466.425778,4160.220067,3916.881571,4123.389937
3,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,9871.997194,12058.263823,10352.822762,10375.994215,11660.329531,11589.853002,11598.751736,11865.963232,11834.745229,NaN
4,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,47785.659086,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671,39146.548836

### Load Research and development expenditure

This data was pretty easy to export. The following linken provides downloadable csv files: https://databank.worldbank.org/data/reports.aspx?source=2&series=GB.XPD.RSDV.GD.ZS&country=

__Be sure to only export Countries and not aggregates like Europe e.g__

In [159]:
df_research_dev_exp = pd.read_csv('./data/research_development_expenditure.csv')
display(df_research_dev_exp.head(5))

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,0.15421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Preprocess data 

Let's preprocess it so we can merge it later.
Let's also look how many years we have for Life Expectancy, so we can remove all other years of the other data.

### Process Life Expectancy

We are interested in the `Life expectancy at birth` and thus remove all other columns. 
Thus we also could have a look at HALE (Healthy life expectancy), for a lot of countries there is very sparse data available.

In [160]:
df_life_exp.columns.rename([None,None], inplace=True)
df_life_exp.index.names = (['Country', 'Year'])

In [161]:

df_life_exp.drop(df_life_exp.columns[3:], axis=1,  inplace=True)
df_life_exp.columns = [' '.join(col).strip() for col in df_life_exp.columns.values]
display(df_life_exp.head(5))

                 Life expectancy at birth (years)  Both sexes  \
Country     Year
Afghanistan 2016                                         62.7
            2015                                         63.2
            2014                                         63.0
            2013                                         62.7
            2012                                         62.2

                 Life expectancy at birth (years)  Male  \
Country     Year
Afghanistan 2016                                   61.0
            2015                                   61.8
            2014                                   61.7
            2013                                   61.5
            2012                                   60.9

                 Life expectancy at birth (years)  Female
Country     Year
Afghanistan 2016                                     64.5
            2015                                     64.7
            2014                                     64.4
            2013                                     64.1
            2012                                     63.6

In [162]:
# be sure the types are right 
#we get an error when converting to float, since the country Rwanda contains two values per colunm. 
#we need to filter this out
#we decide that we take just the first one

def filter_values(v):
    return v.split(' ')[0]

df_life_exp.iloc[:,0] = df_life_exp.iloc[:,0].apply(filter_values )
df_life_exp.iloc[:,1] = df_life_exp.iloc[:,1].apply(filter_values )
df_life_exp.iloc[:,2] = df_life_exp.iloc[:,2].apply(filter_values )

In [163]:
df_life_exp = df_life_exp.apply(pd.to_numeric)
display(df_life_exp.dtypes)
display(df_life_exp.index.levels[1])
display(df_life_exp.head(5))

Life expectancy at birth (years)  Both sexes    float64
Life expectancy at birth (years)  Male          float64
Life expectancy at birth (years)  Female        float64
dtype: object

Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', name='Year')

                  Life expectancy at birth (years)  Both sexes  \
Country     Year
Afghanistan 2016                                          62.7
            2015                                          63.2
            2014                                          63.0
            2013                                          62.7
            2012                                          62.2

                  Life expectancy at birth (years)  Male  \
Country     Year
Afghanistan 2016                                    61.0
            2015                                    61.8
            2014                                    61.7
            2013                                    61.5
            2012                                    60.9

                  Life expectancy at birth (years)  Female
Country     Year
Afghanistan 2016                                      64.5
            2015                                      64.7
            2014                                      64.4
            2013                                      64.1
            2012                                      63.6

In [164]:
display(df_life_exp.describe())
display('Lowest Year ' + str(df_life_exp.index.get_level_values(1).min()))

,Life expectancy at birth (years) Both sexes,Life expectancy at birth (years) Male,Life expectancy at birth (years) Female
count,3111.000000,3111.000000,3111.000000
mean,69.142559,66.812247,71.504854
std,9.133458,8.699027,9.696130
min,36.200000,33.200000,40.000000
25%,63.200000,61.100000,64.900000
50%,71.600000,68.600000,74.600000
75%,75.500000,73.000000,78.500000
max,84.200000,81.200000,87.100000

'Lowest Year 2000'

### Process Current health expenditure

In [165]:
df_health_expenditure = df_health_expenditure.stack()
display(df_health_expenditure.head(5))

                    Current health expenditure (CHE) per capita in US$
            Country
Afghanistan  2000                                              No data
             2001                                              No data
             2002                                                 16.2
             2003                                                 17.5
             2004                                                 20.9

In [166]:
df_health_expenditure.replace('No data', np.NaN, inplace=True)
df_health_expenditure.index.names = (['Country', 'Year'])

In [167]:
display(df_health_expenditure.head(5))
display(df_health_expenditure.index.levels[1])
df_health_expenditure.index.set_levels( df_health_expenditure.index.levels[1].astype(int), 1 , inplace=True)

                  Current health expenditure (CHE) per capita in US$
Country     Year
Afghanistan  2000                                                NaN
             2001                                                NaN
             2002                                               16.2
             2003                                               17.5
             2004                                               20.9

Index([' 2000', ' 2001', ' 2002', ' 2003', ' 2004', ' 2005', ' 2006', ' 2007',
       ' 2008', ' 2009', ' 2010', ' 2011', ' 2012', ' 2013', ' 2014', ' 2015'],
      dtype='object', name='Year')

In [168]:
df_health_expenditure = df_health_expenditure.apply(pd.to_numeric)
display(df_health_expenditure.dtypes)
display(df_health_expenditure.head(5))

Current health expenditure (CHE) per capita in US$    float64
dtype: object

                  Current health expenditure (CHE) per capita in US$
Country     Year
Afghanistan 2000                                                NaN
            2001                                                NaN
            2002                                               16.2
            2003                                               17.5
            2004                                               20.9

In [169]:
display('Lowest Year ' + str(df_health_expenditure.index.get_level_values(1).min()))

'Lowest Year 2000'

### Process World by Income

In [170]:
display(df_world_income.head(5))

,Unnamed: 0,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Data for calendar year :,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,L,L,L,L,L,L,L,L,L,...,L,L,L,L,L,L,L,L,L,L
Albania,ALB,..,..,..,LM,LM,LM,L,L,L,...,LM,UM,UM,LM,UM,UM,UM,UM,UM,UM
Algeria,DZA,UM,UM,LM,LM,LM,LM,LM,LM,LM,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
American Samoa,ASM,H,H,H,UM,UM,UM,UM,UM,UM,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
Andorra,AND,..,..,..,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H

In [171]:
df_world_income.replace('..', 'Unknown', inplace=True)
display(df_world_income.head(5))

,Unnamed: 0,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Data for calendar year :,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,L,L,L,L,L,L,L,L,L,...,L,L,L,L,L,L,L,L,L,L
Albania,ALB,Unknown,Unknown,Unknown,LM,LM,LM,L,L,L,...,LM,UM,UM,LM,UM,UM,UM,UM,UM,UM
Algeria,DZA,UM,UM,LM,LM,LM,LM,LM,LM,LM,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
American Samoa,ASM,H,H,H,UM,UM,UM,UM,UM,UM,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
Andorra,AND,Unknown,Unknown,Unknown,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H

In [172]:
df_world_income.drop(df_world_income.columns[0], axis=1, inplace=True)
df_world_income.index.set_names(['Country'],inplace=True)
df_world_income.columns.names= ['Year']

In [173]:
df_world_income = pd.DataFrame(df_world_income.stack())

In [174]:
df_world_income.columns = ['Income Level']

In [175]:
display(df_world_income.head(5))
df_world_income.iloc[:,0].unique() # There is a LM* defined wich is specific to Yemen. We gonna remove this anyway by the year later
display(df_world_income.index.levels[1])
df_world_income.index.set_levels( df_world_income.index.levels[1].astype(int), 1 , inplace=True)

                 Income Level
Country     Year
Afghanistan 1987            L
            1988            L
            1989            L
            1990            L
            1991            L

Index(['1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object', name='Year')

In [176]:
df_world_income_filtered = df_world_income.reset_index()
df_world_income_filtered = df_world_income_filtered[df_world_income_filtered['Year'].astype(float) >= 2000]
df_world_income_filtered.set_index(['Country','Year'], inplace=True)
df_world_income = df_world_income_filtered
display(df_world_income_filtered.head(5))
df_world_income.iloc[:,0].unique()

                 Income Level
Country     Year
Afghanistan 2000            L
            2001            L
            2002            L
            2003            L
            2004            L

array(['L', 'LM', 'UM', 'H', 'Unknown'], dtype=object)

### Process GDP per capita

In [177]:
# process more data from wb

def truncate_column(c):
    return c.split(' ')[0]


datawb = pd.read_csv('data/raw/worldbank-4.csv')

display(datawb.head())
country_list=datawb['Country Name'].unique().tolist()
variable_list=datawb['Series Name'].unique().tolist()

datawb = datawb.drop(['Country Code','Series Code'],axis=1)


datawb = datawb.rename(truncate_column,axis=1)

# df to collect all variables
df_merged = pd.DataFrame(columns=['Country','Year'])
df_merged.set_index(['Country','Year'], inplace=True)

# loop trought variables
for series, df_series in datawb.groupby('Series'):
    print(series)
    df_series.drop(['Series'], axis=1, inplace=True)
    df_series_filtered = df_series.set_index('Country')   
    df_series_filtered.columns.names= ['Year']
    df_series_filtered = pd.DataFrame(df_series_filtered.stack())
    df_series_filtered = df_series_filtered.reset_index()
    #df_series_filtered = df_series_filtered[df_series_filtered['Year'].astype(float) >= 2000]
    df_series_filtered['Year'] = df_series_filtered['Year'].astype(int)
    df_series_filtered.rename(columns={0: series}, inplace=True)
    df_series_filtered.set_index(['Country','Year'], inplace=True)
    df_merged = df_series_filtered.merge(df_merged, how='outer', left_index=True, right_index=True)

#print(df_merged.index.names)
display(df_merged.head(100))
#df_gpd_per_capita = df_merged

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
0,Surface area (sq. km),AG.SRF.TOTL.K2,Afghanistan,AFG,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,...,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0
1,Surface area (sq. km),AG.SRF.TOTL.K2,Albania,ALB,28750.0,28750.0,28750.0,28750.0,28750.0,28750.0,...,28750.0,28750.0,28750.0,28750.0,28750.0,28750.0,28750.0,28750.0,28750.0,28750.0
2,Surface area (sq. km),AG.SRF.TOTL.K2,Algeria,DZA,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0,...,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0,2381740.0
3,Surface area (sq. km),AG.SRF.TOTL.K2,American Samoa,ASM,200.0,200.0,200.0,200.0,200.0,200.0,...,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0,200.0
4,Surface area (sq. km),AG.SRF.TOTL.K2,Andorra,AND,470.0,470.0,470.0,470.0,470.0,470.0,...,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0

Access to electricity (% of population)
CO2 emissions (metric tons per capita)
Data from database: World Development Indicators
GDP growth (annual %)
GDP per capita growth (annual %)
GNI, Atlas method (current US$)
Incidence of tuberculosis (per 100,000 people)
Individuals using the Internet (% of population)
Intentional homicides (per 100,000 people)
Last Updated: 11/14/2018
Mortality caused by road traffic injury (per 100,000 people)
PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)
Population density (people per sq. km of land area)
Population, total
Surface area (sq. km)

                  Surface area (sq. km)  Population, total  \
Country     Year
Afghanistan 2000               652860.0         20093756.0
            2001               652860.0         20966463.0
            2002               652860.0         21979923.0
            2003               652860.0         23064851.0
            2004               652860.0         24118979.0
            2005               652860.0         25070798.0
            2006               652860.0         25893450.0
            2007               652860.0         26616792.0
            2008               652860.0         27294031.0
            2009               652860.0         28004331.0
            2010               652860.0         28803167.0
            2011               652860.0         29708599.0
            2012               652860.0         30696958.0
            2013               652860.0         31731688.0
            2014               652860.0         32758020.0
            2015               652860.0         33736494.0
            2016               652860.0         34656032.0
Albania     2000                28750.0          3089027.0
            2001                28750.0          3060173.0
            2002                28750.0          3051010.0
            2003                28750.0          3039616.0
            2004                28750.0          3026939.0
            2005                28750.0          3011487.0
            2006                28750.0          2992547.0
            2007                28750.0          2970017.0
            2008                28750.0          2947314.0
            2009                28750.0          2927519.0
            2010                28750.0          2913021.0
            2011                28750.0          2905195.0
            2012                28750.0          2900401.0
...                                 ...                ...
Andorra     2002                  470.0            70049.0
            2003                  470.0            73182.0
            2004                  470.0            76244.0
            2005                  470.0            78867.0
            2006                  470.0            80991.0
            2007                  470.0            82683.0
            2008                  470.0            83861.0
            2009                  470.0            84462.0
            2010                  470.0            84449.0
            2011                  470.0            83751.0
            2012                  470.0            82431.0
            2013                  470.0            80788.0
            2014                  470.0            79223.0
            2015                  470.0            78014.0
            2016                  470.0            77281.0
Angola      2000              1246700.0         16440924.0
            2001              1246700.0         16983266.0
            2002              1246700.0         17572649.0
            2003              1246700.0         18203369.0
            2004              1246700.0         18865716.0
            2005              1246700.0         19552542.0
            2006              1246700.0         20262399.0
            2007              1246700.0         20997687.0
            2008              1246700.0         21759420.0
            2009              1246700.0         22549547.0
            2010              1246700.0         23369131.0
            2011              1246700.0         24218565.0
            2012              1246700.0         25096150.0
            2013              1246700.0         25998340.0
            2014              1246700.0         26920466.0

                  Population density (people per sq. km of land area)  \
Country     Year
Afghanistan 2000                                          30.778047
            2001                                          32.114792
            2002                                          33.667131
            2003                                          35.328939
            2004                                          36.943570
            2005                                          38.401492
            2006                                          39.661566
            2007                                          40.769525
            2008                                          41.806867
            2009                                          42.894849
            2010                                          44.118443
            2011                                          45.505314
            2012                                          47.019205
            2013                                          48.604123
            2014                                          50.176179
            2015                                          51.674929
            2016                                          53.083405
Albania     2000                                         112.738212
            2001                                         111.685146
            2002                                         111.350730
            2003                                         110.934891
            2004                                         110.472226
            2005                                         109.908285
            2006                                         109.217044
            2007                                         108.394781
            2008                                         107.566204
            2009                                         106.843759
            2010                                         106.314635
            2011                                         106.029015
            2012                                         105.854051
...                                                             ...
Andorra     2002                                         149.040426
            2003                                         155.706383
            2004                                         162.221277
            2005                                         167.802128
            2006                                         172.321277
            2007                                         175.921277
            2008                                         178.427660
            2009                                         179.706383
            2010                                         179.678723
            2011                                         178.193617
            2012                                         175.385106
            2013                                         171.889362
            2014                                         168.559574
            2015                                         165.987234
            2016                                         164.427660
Angola      2000                                          13.187554
            2001                                          13.622576
            2002                                          14.095331
            2003                                          14.601242
            2004                                          15.132523
            2005                                          15.683438
            2006                                          16.252827
            2007                                          16.842614
            2008                                          17.453614
            2009                                          18.087388
            2010                                          18.744791
            2011                                          19.426137
            2012                                          20.130063
            2013                                          20.853726
            2014                                          21.593379

                  PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)  \
Country     Year
Afghanistan 2000                                          56.092028
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                          43.234032
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                          46.536809
            2011                                          50.483960
            2012                                          50.653945
            2013                                          50.968831
            2014                                          49.036091
            2015                                          62.080234
            2016                                          62.854857
Albania     2000                                          14.320845
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                          12.155814
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                          15.335690
            2011                                          14.646135
            2012                                          14.562992
...                                                             ...
Andorra     2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                          11.219134
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                          11.115808
            2011                                          11.230666
            2012                                          11.254432
            2013                                          10.942684
            2014                                          10.667695
            2015                                          10.908934
            2016                                          10.879472
Angola      2000                                          39.704820
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                          35.404465
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                          30.921716
            2011                                          31.800657
            2012                                          33.407050
            2013                                          33.507051
            2014                                          35.331048

                  Mortality caused by road traffic injury (per 100,000 people)  \
Country     Year
Afghanistan 2000                                               15.5
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                               15.3
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                               15.3
            2011                                                NaN
            2012                                                NaN
            2013                                                NaN
            2014                                                NaN
            2015                                               15.2
            2016                                                NaN
Albania     2000                                               15.4
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                               15.9
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                               15.4
            2011                                                NaN
            2012                                                NaN
...                                                             ...
Andorra     2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                                NaN
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                                NaN
            2011                                                NaN
            2012                                                NaN
            2013                                                NaN
            2014                                                NaN
            2015                                                NaN
            2016                                                NaN
Angola      2000                                               20.0
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN
            2005                                               20.5
            2006                                                NaN
            2007                                                NaN
            2008                                                NaN
            2009                                                NaN
            2010                                               20.8
            2011                                                NaN
            2012                                                NaN
            2013                                                NaN
            2014                                                NaN

                  Last Updated: 11/14/2018  \
Country     Year
Afghanistan 2000                       NaN
            2001                       NaN
            2002                       NaN
            2003                       NaN
            2004                       NaN
            2005                       NaN
            2006                       NaN
            2007                       NaN
            2008                       NaN
            2009                       NaN
            2010                       NaN
            2011                       NaN
            2012                       NaN
            2013                       NaN
            2014                       NaN
            2015                       NaN
            2016                       NaN
Albania     2000                       NaN
            2001                       NaN
            2002                       NaN
            2003                       NaN
            2004                       NaN
            2005                       NaN
            2006                       NaN
            2007                       NaN
            2008                       NaN
            2009                       NaN
            2010                       NaN
            2011                       NaN
            2012                       NaN
...                                    ...
Andorra     2002                       NaN
            2003                       NaN
            2004                       NaN
            2005                       NaN
            2006                       NaN
            2007                       NaN
            2008                       NaN
            2009                       NaN
            2010                       NaN
            2011                       NaN
            2012                       NaN
            2013                       NaN
            2014                       NaN
            2015                       NaN
            2016                       NaN
Angola      2000                       NaN
            2001                       NaN
            2002                       NaN
            2003                       NaN
            2004                       NaN
            2005                       NaN
            2006                       NaN
            2007                       NaN
            2008                       NaN
            2009                       NaN
            2010                       NaN
            2011                       NaN
            2012                       NaN
            2013                       NaN
            2014                       NaN

                  Intentional homicides (per 100,000 people)  \
Country     Year
Afghanistan 2000                                         NaN
            2001                                         NaN
            2002                                         NaN
            2003                                         NaN
            2004                                         NaN
            2005                                         NaN
            2006                                         NaN
            2007                                         NaN
            2008                                         NaN
            2009                                    3.981527
            2010                                    3.412819
            2011                                    4.143581
            2012                                    6.345906

In [178]:
display(df_gpd_per_capita.head(5))

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,373.361116,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746,585.850064
1,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3952.830781,4131.872341,4537.862492
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,244.824806,213.485905,171.209809,225.530596,236.610190,248.378144,...,4905.254866,3868.831230,4463.394675,5432.413320,5565.134521,5471.123389,5466.425778,4160.220067,3916.881571,4123.389937
3,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,9871.997194,12058.263823,10352.822762,10375.994215,11660.329531,11589.853002,11598.751736,11865.963232,11834.745229,NaN
4,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,47785.659086,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671,39146.548836

In [179]:
df_gpd_per_capita.drop(['Series Code','Series Name','Country Code'], axis=1, inplace=True)

In [180]:
def truncate_column(c):
    return c.split(' ')[0]

df_gpd_per_capita = df_gpd_per_capita.rename(truncate_column,axis=1)

In [181]:
df_gpd_per_capita_filtered = df_gpd_per_capita.set_index('Country')
df_gpd_per_capita_filtered.columns.names= ['Year']
df_gpd_per_capita_filtered = pd.DataFrame(df_gpd_per_capita_filtered.stack())
df_gpd_per_capita_filtered = df_gpd_per_capita_filtered.reset_index()
df_gpd_per_capita_filtered = df_gpd_per_capita_filtered[df_gpd_per_capita_filtered['Year'].astype(float) >= 2000]
df_gpd_per_capita_filtered.set_index(['Country','Year'], inplace=True)

In [182]:
df_gpd_per_capita = df_gpd_per_capita_filtered
df_gpd_per_capita.columns = ['GDP per Capita']
display(df_gpd_per_capita.head(5))
display(df_gpd_per_capita.index.levels[1])
df_gpd_per_capita.index.set_levels( df_gpd_per_capita.index.levels[1].astype(int), 1 , inplace=True)

                  GDP per Capita
Country     Year
Afghanistan 2001      117.409691
            2002      187.845095
            2003      198.728544
            2004      219.141353
            2005      250.294130

Index(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object', name='Year')

In [183]:
# merge all wordbank data
df_gpd_per_capita = df_gpd_per_capita.merge(df_merged, how='outer', left_index=True, right_index=True)

In [184]:
display(df_gpd_per_capita.head(5))
display(df_gpd_per_capita.describe())

                  GDP per Capita  Surface area (sq. km)  Population, total  \
Country     Year
Afghanistan 2000             NaN               652860.0         20093756.0
            2001      117.409691               652860.0         20966463.0
            2002      187.845095               652860.0         21979923.0
            2003      198.728544               652860.0         23064851.0
            2004      219.141353               652860.0         24118979.0

                  Population density (people per sq. km of land area)  \
Country     Year
Afghanistan 2000                                          30.778047
            2001                                          32.114792
            2002                                          33.667131
            2003                                          35.328939
            2004                                          36.943570

                  PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)  \
Country     Year
Afghanistan 2000                                          56.092028
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN

                  Mortality caused by road traffic injury (per 100,000 people)  \
Country     Year
Afghanistan 2000                                               15.5
            2001                                                NaN
            2002                                                NaN
            2003                                                NaN
            2004                                                NaN

                  Last Updated: 11/14/2018  \
Country     Year
Afghanistan 2000                       NaN
            2001                       NaN
            2002                       NaN
            2003                       NaN
            2004                       NaN

                  Intentional homicides (per 100,000 people)  \
Country     Year
Afghanistan 2000                                         NaN
            2001                                         NaN
            2002                                         NaN
            2003                                         NaN
            2004                                         NaN

                  Individuals using the Internet (% of population)  \
Country     Year
Afghanistan 2000                                               NaN
            2001                                          0.004723
            2002                                          0.004561
            2003                                          0.087891
            2004                                          0.105809

                  Incidence of tuberculosis (per 100,000 people)  \
Country     Year
Afghanistan 2000                                           190.0
            2001                                           189.0
            2002                                           189.0
            2003                                           189.0
            2004                                           189.0

                  GNI, Atlas method (current US$)  \
Country     Year
Afghanistan 2000                              NaN
            2001                              NaN
            2002                              NaN
            2003                              NaN
            2004                     5.096485e+09

                  GDP per capita growth (annual %)  GDP growth (annual %)  \
Country     Year
Afghanistan 2000                               NaN                    NaN
            2001                               NaN                    NaN
            2002                               NaN                    NaN
            2003                          3.343150               8.444163
            2004                         -3.361111               1.055556

                  Data from database: World Development Indicators  \
Country     Year
Afghanistan 2000                                               NaN
            2001                                               NaN
            2002                                               NaN
            2003                                               NaN
            2004                                               NaN

                  CO2 emissions (metric tons per capita)  \
Country     Year
Afghanistan 2000                                0.038506
            2001                                0.039002
            2002                                0.048716
            2003                                0.051830
            2004                                0.039378

                  Access to electricity (% of population)
Country     Year
Afghanistan 2000                                 0.959756
            2001                                 0.776537
            2002                                 6.267394
            2003                                11.751966
            2004                                17.236319

,GDP per Capita,Surface area (sq. km),"Population, total",Population density (people per sq. km of land area),"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)","Mortality caused by road traffic injury (per 100,000 people)",Last Updated: 11/14/2018,"Intentional homicides (per 100,000 people)",Individuals using the Internet (% of population),"Incidence of tuberculosis (per 100,000 people)","GNI, Atlas method (current US$)",GDP per capita growth (annual %),GDP growth (annual %),Data from database: World Development Indicators,CO2 emissions (metric tons per capita),Access to electricity (% of population)
count,3622.000000,3.678000e+03,3.684000e+03,3667.000000,1746.000000,740.000000,0.0,2484.000000,3408.000000,3527.000000,3.233000e+03,3379.000000,3379.000000,0.0,3029.000000,3641.000000
mean,13535.773212,6.202252e+05,3.113896e+07,402.039458,29.719297,17.901216,NaN,8.043990,29.399908,129.826615,2.992700e+11,2.371715,3.855306,NaN,4.922820,78.593010
std,21030.628640,1.826033e+06,1.251293e+08,1846.331114,24.248393,8.571284,NaN,11.854197,28.049104,185.131340,1.275366e+12,5.693566,5.877613,NaN,6.625602,31.073611
min,111.363436,2.000000e+00,9.420000e+03,0.136713,3.255184,0.000000,NaN,0.000000,0.000000,0.000000,2.424795e+07,-62.225087,-62.075920,NaN,0.017276,0.000000
25%,1242.916579,1.088700e+04,6.627678e+05,33.745577,14.828786,11.150000,NaN,1.351179,4.422269,14.000000,4.311315e+09,0.221021,1.581401,NaN,0.670263,60.400000
50%,4262.962196,9.303000e+04,5.494462e+06,82.841953,21.310443,17.250000,NaN,3.361783,20.000000,54.000000,1.757304e+10,2.258707,3.785903,NaN,2.587060,98.359680
75%,16323.344538,4.474200e+05,1.981196e+07,202.185511,37.051240,24.600000,NaN,9.182629,50.610507,171.000000,1.239485e+11,4.550879,6.113069,NaN,6.846758,100.000000
max,192989.189527,1.709825e+07,1.378665e+09,21398.950000,203.743892,45.400000,NaN,105.441952,98.323610,1280.000000,1.836985e+13,122.968301,123.139555,NaN,67.106018,100.000000

### Process Research and development expenditure

In [185]:
display(df_research_dev_exp.head(5))

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,0.15421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
df_research_dev_exp.drop(['Series Code','Series Name','Country Code'], axis=1, inplace=True)
df_research_dev_exp = df_research_dev_exp.rename(truncate_column,axis=1)

In [187]:
df_research_dev_exp_filtered = df_research_dev_exp.set_index('Country')
df_research_dev_exp_filtered.columns.names= ['Year']
df_research_dev_exp_filtered = pd.DataFrame(df_research_dev_exp_filtered.stack())
df_research_dev_exp_filtered = df_research_dev_exp_filtered.reset_index()
df_research_dev_exp_filtered = df_research_dev_exp_filtered[df_research_dev_exp_filtered['Year'].astype(float) >= 2000]
df_research_dev_exp_filtered.set_index(['Country','Year'], inplace=True)

In [188]:
df_research_dev_exp = df_research_dev_exp_filtered
df_research_dev_exp.columns = ['Research and development expenditure (% of GDP)']
display(df_research_dev_exp.head(5))
display(df_research_dev_exp.index.levels[1])
df_research_dev_exp.index.set_levels( df_research_dev_exp.index.levels[1].astype(int), 1 , inplace=True)

              Research and development expenditure (% of GDP)
Country Year
Albania 2007                                          0.08735
        2008                                          0.15421
Algeria 2001                                          0.23012
        2002                                          0.36662
        2003                                          0.19631

Index(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object', name='Year')

# Rename Countries 
And find out how others differ from the life exp. data set. 
The GHO and World Bank have different countries listed. The worldbank has for example islandes from United Kingdom or Kingdom of the Netherland also listed.

### Find out how many names differ

In [189]:
df_countries_1 = df_life_exp.reset_index()['Country'].unique()
df_countries_2 = df_health_expenditure.reset_index()['Country'].unique()
df_countries_3 = df_world_income.reset_index()['Country'].unique()
df_countries_4 = df_gpd_per_capita.reset_index()['Country'].unique()
df_countries_5 = df_research_dev_exp.reset_index()['Country'].unique()


diff1 = np.setxor1d(df_countries_1, df_countries_2)
diff2 = np.setxor1d(df_countries_1, df_countries_3)
diff3 = np.setxor1d(df_countries_1, df_countries_4)
diff4 = np.setxor1d(df_countries_1, df_countries_5)
#display(diff1)
#display(diff2)
#display(diff3)
#display(diff4)
#display(diff5)

In [190]:

country_names = {
    'Bahamas, The' : 'Bahamas', 
    'Bolivia' : 'Bolivia (Plurinational State of)',
    'Congo, Dem. Rep.' : 'Democratic Republic of the Congo',
    'Congo, Rep.': 'Congo',
    'Gambia, The' :'Gambia',
    'Iran, Islamic Rep.': 'Iran (Islamic Republic of)',
    'Micronesia, Fed. Sts.': 'Micronesia (Federated States of)',
    'Bolivia' : 'Bolivia (Plurinational State of)',
    'Lao PDR': "Lao People's Democratic Republic",
    'Moldova' : 'Republic of Moldova',
    "Korea, Rep.":  'Republic of Korea',
    "Korea, Dem. Rep." : "Democratic People's Republic of Korea",
    'United States' :'United States of America',
    'Venezuela, RB' : 'Venezuela (Bolivarian Republic of)',
    'United Kingdom' : 'United Kingdom of Great Britain and Northern Ireland',
    'Egypt, Arab Rep.' :   'Egypt',
    'Slovak Republic': 'Slovakia',
    'Czech Republic' : 'Czechia',
    'Kyrgyz Republic' : 'Kyrgyzstan',
    'Swaziland' : 'Eswatini',
    'Viet Nam' : 'Vietnam' ,
    'Tanzania' : 'United Republic of Tanzania',
    'Micronesia, Fed. Sts.' : 'Micronesia (Federated States of)',
    "Yemen, Rep.": 'Yemen',
    "Macedonia, FYR" : 'The former Yugoslav republic of Macedonia',
    "Cote d'Ivoire" : "Côte d'Ivoire",
    "St. Lucia" : "Saint Lucia",
    "St. Vincent and the Grenadines" : "Saint Vincent and the Grenadines"
}

df_life_exp.rename(country_names, inplace=True)
df_health_expenditure.rename(country_names,inplace=True)
df_world_income.rename(country_names,inplace=True)
df_gpd_per_capita.rename(country_names,inplace=True)
df_research_dev_exp.rename(country_names,inplace=True)

df_countries_1 = df_life_exp.reset_index()['Country'].unique()
df_countries_2 = df_health_expenditure.reset_index()['Country'].unique()
df_countries_3 = df_world_income.reset_index()['Country'].unique()
df_countries_4 = df_gpd_per_capita.reset_index()['Country'].unique()
df_countries_5 = df_research_dev_exp.reset_index()['Country'].unique()


diff1 = np.setxor1d(df_countries_1, df_countries_2)
diff2 = np.setxor1d(df_countries_1, df_countries_3)
diff3 = np.setxor1d(df_countries_1, df_countries_4)
diff4 = np.setxor1d(df_countries_1, df_countries_5)
display(diff1)
display(diff2)
display(diff3)
display(diff4)

array(['Andorra', 'Cook Islands', 'Dominica', 'Marshall Islands',
       'Monaco', 'Nauru', 'Niue', 'Palau', 'Saint Kitts and Nevis',
       'San Marino', 'Tuvalu'], dtype=object)

array(['American Samoa', 'Andorra', 'Aruba', 'Bermuda',
       'British Virgin Islands', 'Cayman Islands', 'Channel Islands',
       'Curaçao', 'Dominica', 'Faeroe Islands', 'French Polynesia',
       'Gibraltar', 'Greenland', 'Guam', 'Hong Kong SAR, China',
       'Isle of Man', 'Kosovo', 'Liechtenstein', 'Macao SAR, China',
       'Marshall Islands', 'Mayotte', 'Monaco', 'Nauru',
       'Netherlands Antilles (former)', 'New Caledonia',
       'Northern Mariana Islands', 'Palau', 'Puerto Rico', 'San Marino',
       'Sao Tome and Principe', 'Serbia and Montenegro (former)',
       'Sint Maarten (Dutch part)', 'St. Kitts and Nevis',
       'St. Martin (French part)', 'São Tomé and Principe',
       'Taiwan, China', 'Turks and Caicos Islands', 'Tuvalu',
       'Virgin Islands (U.S.)', 'West Bank and Gaza'], dtype=object)

array(['American Samoa', 'Andorra', 'Aruba', 'Bermuda',
       'British Virgin Islands', 'Cayman Islands', 'Channel Islands',
       'Curacao', "Democratic People's Republic of Korea", 'Dominica',
       'Faroe Islands', 'French Polynesia', 'Gibraltar', 'Greenland',
       'Guam', 'Hong Kong SAR, China', 'Isle of Man',
       'Korea, Dem. People’s Rep.', 'Kosovo', 'Liechtenstein',
       'Macao SAR, China', 'Marshall Islands', 'Monaco', 'Nauru',
       'New Caledonia', 'Northern Mariana Islands', 'Palau',
       'Puerto Rico', 'San Marino', 'Sint Maarten (Dutch part)',
       'St. Kitts and Nevis', 'St. Martin (French part)',
       'Turks and Caicos Islands', 'Tuvalu', 'Virgin Islands (U.S.)',
       'West Bank and Gaza'], dtype=object)

array(['Afghanistan', 'Angola', 'Antigua and Barbuda', 'Bahamas',
       'Bangladesh', 'Barbados', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo',
       "Côte d'Ivoire", "Democratic People's Republic of Korea",
       'Djibouti', 'Dominican Republic', 'Equatorial Guinea', 'Eritrea',
       'Eswatini', 'Faroe Islands', 'Fiji', 'Greenland', 'Grenada',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Hong Kong SAR, China', 'Kiribati', 'Lebanon', 'Liberia', 'Libya',
       'Macao SAR, China', 'Malawi', 'Maldives', 'Mauritania',
       'Micronesia (Federated States of)', 'Monaco', 'Niger',
       'Papua New Guinea', 'Puerto Rico', 'Rwanda', 'Saint Lucia',
       'Samoa', 'Sao Tome and Principe', 'Sierra Leone',
       'Solomon Islands', 'Somalia', 'South Sudan', 'Suriname',
       'Syrian Arab Republic', 'Timor-Leste', 'Tonga', 'Turkmenistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'West Bank and Gaza', 'Yemen', 'Zimbabwe'], dtype=object)

# Merge Data

In [191]:
df_countries = df_life_exp.reset_index()['Country'].unique()
display(df_countries)
display(len(df_countries))

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

183

In [192]:
display(df_life_exp.index.nlevels)
display(df_world_income.index.nlevels)
display(df_world_income.index.levels[1])
display(df_life_exp.index.levels[1])
display(df_gpd_per_capita.index.levels[1])

display(df_world_income.index.levels[0])
display(df_life_exp.index.levels[0])

2

2

Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016, 2017],
           dtype='int64', name='Year')

Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', name='Year')

Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016, 2017],
           dtype='int64', name='Year')

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen', 'Zambia',
       'Zimbabwe'],
      dtype='object', name='Country', length=221)

Index(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       ...
       'United Republic of Tanzania', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=183)

In [193]:
#we start with df_life_exp since this our reference of what years and countries we want
df_all_data = pd.merge(df_life_exp,df_world_income, how='left',left_index=True, right_index=True)
df_all_data = pd.merge(df_all_data,df_gpd_per_capita, how='left',left_index=True, right_index=True)
df_all_data = pd.merge(df_all_data,df_health_expenditure, how='left',left_index=True, right_index=True)
df_all_data = pd.merge(df_all_data,df_research_dev_exp, how='left',left_index=True, right_index=True)


display(df_all_data)

                  Life expectancy at birth (years)  Both sexes  \
Country     Year
Afghanistan 2016                                          62.7
            2015                                          63.2
            2014                                          63.0
            2013                                          62.7
            2012                                          62.2
            2011                                          61.7
            2010                                          61.2
            2009                                          60.7
            2008                                          60.2
            2007                                          59.6
            2006                                          59.2
            2005                                          58.9
            2004                                          58.4
            2003                                          58.0
            2002                                          57.4
            2001                                          56.5
            2000                                          55.9
Albania     2016                                          76.4
            2015                                          76.1
            2014                                          76.1
            2013                                          75.7
            2012                                          75.2
            2011                                          75.1
            2010                                          74.7
            2009                                          74.4
            2008                                          74.2
            2007                                          74.1
            2006                                          73.9
            2005                                          73.5
            2004                                          73.3
...                                                        ...
Zambia      2012                                          59.6
            2011                                          58.6
            2010                                          57.5
            2009                                          56.0
            2008                                          54.0
            2007                                          51.6
            2006                                          50.1
            2005                                          48.8
            2004                                          47.6
            2003                                          46.4
            2002                                          45.7
            2001                                          45.0
            2000                                          44.4
Zimbabwe    2016                                          61.4
            2015                                          60.8
            2014                                          59.9
            2013                                          58.6
            2012                                          57.3
            2011                                          55.5
            2010                                          52.9
            2009                                          50.6
            2008                                          48.9
            2007                                          47.4
            2006                                          46.3
            2005                                          45.5
            2004                                          45.0
            2003                                          44.9
            2002                                          45.0
            2001                                          45.4
            2000                                          45.9

                  Life expectancy at birth (years)  Male  \
Country     Year
Afghanistan 2016                                    61.0
            2015                                    61.8
            2014                                    61.7
            2013                                    61.5
            2012                                    60.9
            2011                                    60.5
            2010                                    59.9
            2009                                    59.5
            2008                                    59.0
            2007                                    58.4
            2006                                    58.0
            2005                                    57.8
            2004                                    57.4
            2003                                    56.9
            2002                                    56.5
            2001                                    55.3
            2000                                    54.6
Albania     2016                                    74.3
            2015                                    74.2
            2014                                    74.0
            2013                                    73.6
            2012                                    73.0
            2011                                    72.6
            2010                                    72.5
            2009                                    72.3
            2008                                    72.1
            2007                                    71.9
            2006                                    71.8
            2005                                    71.6
            2004                                    71.0
...                                                  ...
Zambia      2012                                    57.7
            2011                                    56.7
            2010                                    55.7
            2009                                    54.3
            2008                                    52.7
            2007                                    50.5
            2006                                    49.1
            2005                                    47.9
            2004                                    46.7
            2003                                    45.5
            2002                                    44.8
            2001                                    44.0
            2000                                    43.2
Zimbabwe    2016                                    59.6
            2015                                    59.0
            2014                                    58.2
            2013                                    56.4
            2012                                    55.0
            2011                                    53.6
            2010                                    51.5
            2009                                    49.4
            2008                                    47.6
            2007                                    46.2
            2006                                    45.2
            2005                                    44.5
            2004                                    44.1
            2003                                    44.0
            2002                                    44.0
            2001                                    44.3
            2000                                    44.6

                  Life expectancy at birth (years)  Female Income Level  \
Country     Year
Afghanistan 2016                                      64.5            L
            2015                                      64.7            L
            2014                                      64.4            L
            2013                                      64.1            L
            2012                                      63.6            L
            2011                                      63.1            L
            2010                                      62.5            L
            2009                                      62.1            L
            2008                                      61.6            L
            2007                                      61.0            L
            2006                                      60.5            L
            2005                                      60.1            L
            2004                                      59.6            L
            2003                                      59.1            L
            2002                                      58.5            L
            2001                                      57.9            L
            2000                                      57.3            L
Albania     2016                                      78.6           UM
            2015                                      78.2           UM
            2014                                      78.5           UM
            2013                                      78.1           UM
            2012                                      77.7           UM
            2011                                      78.2           LM
            2010                                      77.0           UM
            2009                                      76.7           UM
            2008                                      76.5           LM
            2007                                      76.4           LM
            2006                                      76.2           LM
            2005                                      75.6           LM
            2004                                      75.8           LM
...                                                    ...          ...
Zambia      2012                                      61.5           LM
            2011                                      60.5           LM
            2010                                      59.3           LM
            2009                                      57.6            L
            2008                                      55.3            L
            2007                                      52.6            L
            2006                                      51.0            L
            2005                                      49.7            L
            2004                                      48.4            L
            2003                                      47.2            L
            2002                                      46.6            L
            2001                                      46.1            L
            2000                                      45.6            L
Zimbabwe    2016                                      63.1            L
            2015                                      62.4            L
            2014                                      61.5            L
            2013                                      60.7            L
            2012                                      59.5            L
            2011                                      57.3            L
            2010                                      54.2            L
            2009                                      51.8            L
            2008                                      50.0            L
            2007                                      48.6            L
            2006                                      47.4            L
            2005                                      46.5            L
            2004                                      45.9            L
            2003                                      45.9            L
            2002                                      46.0            L
            2001                                      46.5            L
            2000                                      47.3            L

                  GDP per Capita  Surface area (sq. km)  Population, total  \
Country     Year
Afghanistan 2016      561.778746               652860.0         34656032.0
            2015      569.577923               652860.0         33736494.0
            2014      629.345250               652860.0         32758020.0
            2013      638.612543               652860.0         31731688.0
            2012      669.009051               652860.0         30696958.0
            2011      603.537023               652860.0         29708599.0
            2010      553.300289               652860.0         28803167.0
            2009      445.893298               652860.0         28004331.0
            2008      373.361116               652860.0         27294031.0
            2007      369.835796               652860.0         26616792.0
            2006      272.563077               652860.0         25893450.0
            2005      250.294130               652860.0         25070798.0
            2004      219.141353               652860.0         24118979.0
            2003      198.728544               652860.0         23064851.0
            2002      187.845095               652860.0         21979923.0
            2001      117.409691               652860.0         20966463.0
            2000             NaN               652860.0         20093756.0
Albania     2016     4131.872341                28750.0          2876101.0
            2015     3952.830781                28750.0          2880703.0
            2014     4578.666728                28750.0          2889104.0
            2013     4413.081697                28750.0          2895092.0
            2012     4247.614308                28750.0          2900401.0
            2011     4437.178068                28750.0          2905195.0
            2010     4094.358832                28750.0          2913021.0
            2009     4114.136545                28750.0          2927519.0
            2008     4370.539647                28750.0          2947314.0
            2007     3603.013685                28750.0          2970017.0
            2006     3005.012903                28750.0          2992547.0
            2005     2709.142931                28750.0          3011487.0
            2004     2416.588235                28750.0          3026939.0
...                          ...                    ...                ...
Zambia      2012     1734.930612               752610.0         14699937.0
            2011     1644.619672               752610.0         14264756.0
            2010     1463.213573               752610.0         13850033.0
            2009     1139.110233               752610.0         13456417.0
            2008     1369.068249               752610.0         13082517.0
            2007     1104.587985               752610.0         12725974.0
            2006     1030.154199               752610.0         12383446.0
            2005      691.317816               752610.0         12052156.0
            2004      530.277222               752610.0         11731746.0
            2003      429.158343               752610.0         11421984.0
            2002      377.130524               752610.0         11120409.0
            2001      378.273624               752610.0         10824125.0
            2000      341.905562               752610.0         10531221.0
Zimbabwe    2016     1029.076649               390760.0         16150362.0
            2015     1033.415841               390760.0         15777451.0
            2014     1031.104614               390760.0         15411675.0
            2013     1026.388292               390760.0         15054506.0
            2012      968.163875               390760.0         14710826.0
            2011      840.949877               390760.0         14386649.0
            2010      719.979516               390760.0         14086317.0
            2009      624.272242               390760.0         13810599.0
            2008      325.678570               390760.0         13558469.0
            2007      396.998217               390760.0         13329909.0
            2006      414.796232               390760.0         13124267.0
            2005      444.760508               390760.0         12940032.0
            2004      454.360665               390760.0         12777511.0
            2003      453.351155               390760.0         12633897.0
            2002      507.348003               390760.0         12500525.0
            2001      548.058731               390760.0         12366165.0
            2000      547.358878               390760.0         12222251.0

                  Population density (people per sq. km of land area)  \
Country     Year
Afghanistan 2016                                          53.083405
            2015                                          51.674929
            2014                                          50.176179
            2013                                          48.604123
            2012                                          47.019205
            2011                                          45.505314
            2010                                          44.118443
            2009                                          42.894849
            2008                                          41.806867
            2007                                          40.769525
            2006                                          39.661566
            2005                                          38.401492
            2004                                          36.943570
            2003                                          35.328939
            2002                                          33.667131
            2001                                          32.114792
            2000                                          30.778047
Albania     2016                                         104.967190
            2015                                         105.135146
            2014                                         105.441752
            2013                                         105.660292
            2012                                         105.854051
            2011                                         106.029015
            2010                                         106.314635
            2009                                         106.843759
            2008                                         107.566204
            2007                                         108.394781
            2006                                         109.217044
            2005                                         109.908285
            2004                                         110.472226
...                                                             ...
Zambia      2012                                          19.774193
            2011                                          19.188792
            2010                                          18.630911
            2009                                          18.101423
            2008                                          17.598457
            2007                                          17.118839
            2006                                          16.658074
            2005                                          16.212427
            2004                                          15.781415
            2003                                          15.364726
            2002                                          14.959051
            2001                                          14.560493
            2000                                          14.166482
Zimbabwe    2016                                          41.748383
            2015                                          40.784415
            2014                                          39.838891
            2013                                          38.915616

# Save processed data as file:

In [194]:
df_life_exp.to_csv('data/processed/life_expectancy.csv')
df_health_expenditure.to_csv('data/processed/health_expenditure.csv')
df_world_income.to_csv('data/processed/world_income.csv')
df_gpd_per_capita.to_csv('data/processed/gpd_per_capita.csv')
df_research_dev_exp.to_csv('data/processed/research_development_expenditure.csv')
df_all_data.to_csv('data/processed/merged_data.csv')